@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #ff4757;
}

.nav{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.box{
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

.cart-count{
    position: absolute;
    background-color: #493939;
    top: -10px;
    right: 0;
    padding: 1px;
    height: 20px;
    width: 15px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}

#cart-icon{
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
}

img{
    width: 100%;
}


.container{
    max-width: 1200px;
    padding: 4rem;
    margin: auto;
    width: 100%;
} 


h2.title{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #fff;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}

.food-box{
    position: relative;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px;
    border-radius: 3px;
}

.pic{
    overflow: hidden;
}
.pic:hover img{
    transform: scale(1.5);
}

.food-img{
    transition: 0.3s;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.food-title{
    font-size: 1rem;
    font-weight: 600;
    color: #ff4757;
}

.food-price{
    font-weight:500;
}


.add-cart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #2ed573;
    color: #fff;
    padding: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}

.add-cart:hover{
    background-color: rgba(255, 0, 0, 0.700);

} 

